{% load staticfiles %}
<html>
    <head>
            <link rel="stylesheet" type="text/css" href="{% static 'xmlparser/css/jquery.dataTables.min.css' %}">
            <link rel="stylesheet" href="{% static 'xmlparser/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'xmlparser/css/bootstrap-treeview.min.css' %}" >
            <link rel="stylesheet" href="{% static 'xmlparser/css/jquery-ui.min.css' %}" >
            <link href="{% static 'xmlparser/css/font-awesome.min.css' %} " rel="stylesheet">
            <script type="text/javascript" charset="utf8" src="{% static 'xmlparser/js/jquery-1.12.3.min.js' %}"></script>
            <script type="text/javascript" charset="utf8" src="{% static 'xmlparser/js/jquery.dataTables.min.js' %}"></script>
            <script type="text/javascript" charset="utf8" src="{% static 'xmlparser/js/jquery-ui.min.js' %}"></script>
            <script src="{% static 'xmlparser/js/bootstrap-treeview.min.js' %}"></script> 
            <style>
                   td.details-control {
            text-align:center;
            color:forestgreen;
    cursor: pointer;
}
tr.shown td.details-control {
    text-align:center; 
    color:red;
}
            </style>
    </head>
   

    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                        <div id="tree">

                        </div>
                </div>
                <div class="col-sm-9">
                        <table id="table_id_example" class="display">
                                <thead>
                                <tr>
                                    <!--<th></th>-->
                                    {% for column in tableField %}
                                    <th>{{ column }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for row in tableData %}
                                <tr>
                                    <!--<td class="details-control"><i class="fa fa-plus-square" aria-hidden="true"></i></td>-->
                                    {% for data in row %}
                                    <td>{{ data }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                </div>
            </div>
        </div>
  
           
    </body>
    <script>
        function format(d) {
            // `d` is the original data object for the row
            return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
                '<tr>' +
                '<td>Full name:</td>' +
                '<td>' + d[1] + '</td>' +
                '</tr>' +
                '<tr>' +
                '<td>Extension number:</td>' +
                '<td>' + d.extn + '</td>' +
                '</tr>' +
                '<tr>' +
                '<td>Extra info:</td>' +
                '<td>And any further details here (images etc)...</td>' +
                '</tr>' +
                '</table>';
        }
        $(document).ready(function () {
            var table = $('#table_id_example').DataTable();

            $('#table_id_example tbody').on('mouseenter','td',function(){
                var colIdx = table.cell(this).index().column;
                var value = table.cell(this).data();
                var cellData = {};
                cellData["index"]=colIdx;
                cellData["value"]=value;
                tdObjec = $(this);
                //console.log(colIdx);
                //console.log(value);

                $.get(location.href,cellData,function(datas){
                   if (datas.isForeignKey)
                   {
                        //$(this).wrapInner("<a href='#' title='Table:BoardTypeInfo\r\nBoardType:13165\r\nBoardTypeStr:NVPS-A'></a>");
                        tdObjec.wrapInner("<a href='#' title='Table:"+datas.ReferenceTable+"\r\n"+datas.ReferenceFieldName+":"+value+"\r\nBoardTypeStr:"+datas.DisplayFieldValue+"'></a>");
                   }
                })
            });
            $('#table_id_example tbody').on('mouseleave','td',function(){
                
                var text = $(this).find("a").text();
                if (text)
                {
                    console.log(text)
                    $(this).find("a").remove();
                    $(this).text(text);
                }
                else
                {
                    console.log("false-------")
                    console.log(text)
                }
                
            });

            $('#table_id_example tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var tdi = tr.find("i.fa");
                var row = table.row(tr);
                var rowData = {};
                  
                var dd = row.data();
                for (var i in dd)
                {
                    if (i != 0)
                    {
                        console.log(i,dd[i]);
                        rowData[i]=dd[i];
                    }    
                }
                console.log(rowData);
                
                $.get(location.href,rowData,function(datas){
                    
                })
               
                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                    tdi.first().removeClass('fa-minus-square');
                    tdi.first().addClass('fa-plus-square');
                }
                else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                    tdi.first().removeClass('fa-plus-square');
                    tdi.first().addClass('fa-minus-square');
                }
            });
        });

        function getTree() {
            // Some logic to retrieve, or generate tree structure
            var data = [
                {% for i in tableNameList %}
                    {
                        text: "{{ i }}",
                        href: "{% url 'showtable' i %}"
                    },
                {% endfor %}
                ];



        return data;
                }

        $('#tree').treeview({
            data: getTree(),
            enableLinks: true
        });
    </script>
</html>